<%- include('../partials/header') %>
    
    
  <div class="container">
    <form id="srnForm" class="bigForm" action="" method="POST">
      <div>
        <label for="srn">SRN:</label>
        <input type="text" id="srn" name="srn[srn]">
      </div>
      
      <button class="btn btn-primary" id="submitSrn">Submit</button>
    </form>
  </div>
  
<%- include('../partials/footer') %>
