  <div class="footer">
    <div class="row">
      <div class="col-sm">
        <div class="row"><a class="navItem" href="/facilities">Facilities</a></div>
        <div class="row"><a class="navItem" href="/patients">Patients</a></div>
      </div>
      
      <div class="col-sm">
        <div class="row"><a class="navItem" href="/payments">Payments</a></div>
        <div class="row"><a class="navItem" href="/srns">SRNs</a></div>
        <div class="row"><a class="navItem" href="/submissions">Submissions</a></div>
        <div class="row"><a class="navItem" href="/decisions">Decisions</a></div>
      </div>
    </div>
  
  
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>