<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/satellite-dish-16.png"/>
  <title>radr</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="header">
    <nav class="navbar--row leftNav">
      <a class="navItem" href="/">
        <img src="/assets/satellite-dish.svg" style="height: 32px">
      </a>
      <a class="navItem" href="/adrs">ADRs</a>
      <a class="navItem" href="/facilities">Facilities</a>
      <a class="navItem" href="/patients">Patients</a>
      <a class="navItem" href="/auditors">Auditors</a>
    </nav>
    <nav class="navbar--row rightNav">
      <a class="navItem" href="#">Register</a>
      <a class="navItem" href="#">Login</a>
      <a class="navItem" href="#">Logout</a>
    </nav>
  </div>
  
  