<%- include('partials/header') %>

<div class="container">
  <form class="form">
    <div>
      <label for="uid">Username:</label>
      <input type="text" id="uid">
    </div>
    <div>
      <label for="pwd">Password:</label>
      <input type="text" id="pwd">
    </div>
    <span>
      <button id="loginButton">Login</button><a href="#">Forgot Your Password?</a>
    </span>
  </form>
</div>

<%- include('partials/footer') %>