<%- include('partials/header') %>

<div class="container">
  <form class="form">
    <div>
      <label for="uid">Username:</label>
      <input type="text" id="uid">
    </div>
    <div>
      <label for="pwd">Password:</label>
      <input type="text" id="pwd1">
    </div>
    <div>
      <label for="pwd">Verify Password:</label>
      <input type="text" id="pwd2">
    </div>
    <span>
      <button id="loginButton">Register</button>
    </span>
  </form>
    
</div>



<%- include('partials/footer') %>